/* General styles and resets */
body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
}

/* Header styles */
header {
    background: url('images/ciclo_biodiversidade_LSM_cropped.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    min-height: 50vh; /* Adjust the min-height as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

/*header img {
/*    max-width: 200px; /* Adjust the width as needed */
/*    height: auto; /* This maintains the aspect ratio */
/*    border-radius: 50%; /* Creates a circular profile photo */
/*    border: 4px solid #fff; /* Optional: adds a white border around the photo */
/*    margin-bottom: 20px; /* Spacing between the photo and the text */
/*}

/* Navigation menu styles */
nav ul {
    list-style-type: none;
    background: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #ddd;
    color: black;
}

/* Main content styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

/* About Me Section styles, including the profile photo */
#about {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content */
    text-align: justify; /* Justify the text */
    padding: 0 20px; /* Add padding to give some space on the sides */
}

.profile-photo {
    max-width: 200px; /* Adjust the width as needed */
    height: auto; /* This maintains the aspect ratio */
    border-radius: 20%; /* Creates a circular profile photo */
    border: 4px solid #fff; /* Optional: adds a white border around the photo */
    margin-bottom: 20px; /* Spacing between the photo and the text */
}

#about h2 {
    text-align: center; /* Keep the heading centered */
}

/* Style for the content of About Me section */
#about p {
    margin-bottom: 15px; /* Add or adjust the margin as needed */
}

/* Contact styles */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content */
    text-align: center; /* Justify the text */
    padding: 0 20px; /* Add padding to give some space on the sides */
}

.contact-methods {
    text-align: center;
}

.contact-link {
    display: inline-block;
    margin: 10px;
    color: var(--text-color);
    background: var(--accent-color);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.contact-link:hover {
    background-color: var(--main-color);
}

.contact-link i {
    margin-right: 8px;
}

/* Footer styles */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
}

/* Color scheme based on your image */
:root {
    --main-color: #ebd9c1;
    --accent-color: #ead8c0;
    --text-color: #333;
}

body {
    background-color: var(--main-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--accent-color);
}

/* Additional styles can be added as needed */


@media (max-width: 768px) {
    header {
        min-height: 50vh; /* Smaller screens might benefit from less header height */
    }

    header img {
        max-width: 150px; /* Smaller profile photo on smaller screens */
    }
}