/* General styles and resets */

:root {
    --bg-header: url(./images/ciclo_biodiversidade_LSM_cropped.jpg);
    --main-color: #ebd9c1;
    --accent-color: #ead8c0;
    --text-color: #333;
}

body {
    background-color: var(--main-color);
    font-family: 'Montserrat', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

.profile-photo {
    max-width: 200px; /* Adjust the width as needed */
    height: auto; /* This maintains the aspect ratio */
    border-radius: 20%; /* Creates a circular profile photo */
    border: 4px solid #fff; /* Optional: adds a white border around the photo */
    margin-bottom: 20px; /* Spacing between the photo and the text */
}

img {
    max-width: 100%;
    height: auto;
}

/* Header styles */
header {
    background: var(--bg-header) no-repeat center center/cover;
    min-height: 50vh; /* Adjust the min-height as needed */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    color: #fcfcfc;
    padding: 20px;
    box-sizing: border-box;
    text-align: right;
}

.name, .me {
    color: white;
    width: 100%;
    max-width: 588px;
    margin: 56px 50px 0px 550px;
    padding: 0 24px;
}

/*header img {
/*    max-width: 200px; /* Adjust the width as needed */
/*    height: auto; /* This maintains the aspect ratio */
/*    border-radius: 50%; /* Creates a circular profile photo */
/*    border: 4px solid #fff; /* Optional: adds a white border around the photo */
/*    margin-bottom: 20px; /* Spacing between the photo and the text */
/*}

/* Navigation menu styles */
.menu ul {
    list-style-type: none;
    background: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: inline-block;
}

.menu ul li a:hover {
    background-color: #ddd;
    color: black;
}

.publications ul li{
    list-style-type: none;
}

/* Estilos para o botão de visualização de PDF */
.pdf-view {
    display: inline-block;
    margin: 10px;
    padding: 4px 12px;
    border: 2px solid #333; /* Adicionando borda */
    background-color: #fff; /* Cor de fundo branca */
    color: #333; /* Cor do texto */
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Suavizando a transição de cores */
}

.pdf-view:hover {
    background-color: #333; /* Alterando a cor de fundo ao passar o mouse */
    color: #fff; /* Alterando a cor do texto ao passar o mouse */
}

.pdf-view:focus {
    outline: none;
}

.pdf-view:hover, .pdf-view:focus {
    border-color: #fff; /* Alterando a cor da borda ao passar o mouse ou focar */
}

.pdf-view:hover {
    cursor: pointer; /* Mudando o cursor para uma mão ao passar o mouse */
}

/* Main content styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

/* About Me Section styles, including the profile photo */
#about, #research, #publications, #contact {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content */
    text-align: justify; /* Justify the text */
    padding: 0 20px; /* Add padding to give some space on the sides */
}

#about h2 {
    text-align: center; /* Keep the heading centered */
}

/* Style for the content of About Me section */
#about p {
    margin-bottom: 15px; /* Add or adjust the margin as needed */
}

/* Contact styles */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content */
    text-align: center; /* Justify the text */
    padding: 0 20px; /* Add padding to give some space on the sides */
}

.contact-methods {
    text-align: center;
}

.contact-link {
    display: inline-block;
    margin: 10px;
    color: var(--text-color);
    background: var(--accent-color);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.contact-link:hover {
    background-color: var(--main-color);
}

.contact-link i {
    margin-right: 8px;
}

/* Footer styles */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
}

/* Color scheme based on your image */

/* Additional styles can be added as needed */


@media screen and (max-width: 1250px) {
    header {
        min-height: 20vh; /* Smaller screens might benefit from less header height */
    }

    .name, .me {
        font-size: 18px;
        max-width: 90%;
        margin: auto 32px;
        padding: 0 12px;
    }

    p {
        font-size: 20px;
    }

    main {
        display: block;
        position: inherit;
    }
}